<div class="footer-containter" >
    <div class="footer1">    
<div class="f1content"style="display: flex;">
    <div class="footer-item">
        <h4 class="footer-heading">Shop</h4>
            <div>
                Adhesives & Tapes <br>
                Arts & Crafts<br>
                Books & Pads & Legal<br>
                Calculators<br>
                Cartridges & Data Storage<br>
                Diaries & Planners<br>
            </div>
            </div>
<div class="footer-item">
            <h4 class="footer-heading">Brands</h4>
                <div>
                Adhesives & Tapes <br>
                Arts & Crafts<br>
                Books & Pads & Legal<br>
                Calculators<br>
                Cartridges & Data Storage<br>
                Diaries & Planners<br>
                </div>
            </div>
            <div class="footer-item">
                <h4 class="footer-heading">About</h4>
                <div>
                    Adhesives & Tapes <br>
                    Arts & Crafts<br>
                    Books & Pads & Legal<br>
                    Calculators<br>
                    Cartridges & Data Storage<br>
                    Diaries & Planners<br>
                </div>
                </div>  
                <div class="footer-item">
                    <h4 class="footer-heading">Help</h4>
                    <div>
                        Adhesives & Tapes <br>
                        Arts & Crafts<br>
                        Books & Pads & Legal<br>
                        Calculators<br>
                        Cartridges & Data Storage<br>
                        Diaries & Planners<br>
                    </div>
                    </div>

                         
        </div>

<!----<div class="footer-item">
                <h4 class="footer-heading">NEWS LETTER</h4>
                <div>
                    
                </div>
                </div>------>
</div>

    </div>
    <div class="footer2">
        <div class="f2content"  style="display: flex;">
<p style="color: white;  padding:0%"> &copy;2020 Storage & Organisers.All Rights Reserved. Read our Privacy Policy.</p>
</div>
</div>
