<div class="contact-containter" >
<div class="header">
<div class="contact-title">
<h2 style="font-weight: 500;" >Get in Touch!</h2>
</div>
</div>


<div class="form-container">
    <div class="form-section">
       
        <div  class="contact-form">
          
            <div class="contact-field">
               <!---- <div class="field label">Name</div>--->
                <div class="field-control"> <input class="form-input" type="text" placeholder="Name"/></div>
            </div>
            <div class="contact-field">
                <!---- <div class="field label">Email</div>--->
                 <div class="field-control"> <input class="form-input" type="text"  placeholder="Email"/></div>
             </div>
            <div class="contact-field">
               <!------ <div class="field label">Phone Number</div>--->
                <div class="field-control"><input class="form-input" type="text" placeholder="Telephone"/></div>
            </div>

            <div class="contact-field">
               <!---- <div class="field label">Message</div>--->
                <div class="field-control"><textarea class="form-text" rows="10" placeholder="Message"></textarea></div>
            </div>
   </div>
   <button class="send-button">SEND</button>
</div>
</div>
</div>
