<div class="about-container">
<!-- <div class="container-header" > 
    <div class="about-title">
        <h2 style="font-weight: 500;" >About </h2>
        </div>
</div> -->
</div>

<div class="mission-title"  > 
    <h2 style="color: deepskyblue; font-size: 1.1rem ; font-weight: 500;"> Our Mission</h2>  
</div>
                           <div class="mission-container">
                               <div class="mission-desc">
                                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, 
                                    that they cannot foresee the pain and trouble
                                     that are bound to ensue; and equal blame belongs to those who fail in 
                                     their duty through weakness of will, which is the same as saying through shrinking 
                                     from toil and pain. These cases are perfectly simple and easy to distinguish. 
                    
                               </div>
                        
                    
                           </div>
                           <div class="divider">
                                <div class="divider-line"></div>
                           </div>   
                      
          <div class="team-title">
        <h2 style="color: deepskyblue; font-size: 1.1rem ; font-weight: 500;">Our Team</h2>

          </div>           
          <div class="team-container">
          <div class="team-desc">
               On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, 
               that they cannot foresee the pain and trouble
                that are bound to ensue; and equal blame belongs to those who fail in 
                their duty through weakness of will, which is the same as saying through shrinking 
                from toil and pain. These cases are perfectly simple and easy to distinguish. 

          </div>
          <div class="profile-section">
              <div class="profile-name">
              <img class="profile-image" src="./../../assets/img/felicia.jpeg"/><span class="name-desc">Felicia Mguni</span>
            </div>

           <!---<div class="profile-name">
              <img class="profile-image" src="./../../assets/img/dave-avatar.jpeg"/><span class="name-desc">Tinashe Chiwara</span>
            </div>-->
              </div>
          </div>
      
      <div class="divider">
           <div class="divider-line"></div>
      </div>   


