<div class="nav-bar"> 
    <div class="title">
       <div class="logo">
        <span><img class="logo-img" src="./../../assets/img/TC Logo.jpg"/></span>  
       </div>
    </div>
    <div class="nav-links">
       <a class="nav-link" [routerLink]="['/produt-page']">Products</a>
       <a class="nav-link" [routerLink]="['/contact-us']">Contact us</a>
       <a class="nav-link" [routerLink]="['/about']">About</a>
       <a class="nav-link" [routerLink]="['/cart']">Cart</a>
     
    </div>
    </div>
    