.nav-bar {
    height: 80px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 1.1rem;
    
  }
  .title{
    flex-grow: 1;
    cursor: pointer;
    margin-left: 10px;
   
}
.nav-links{
    margin-right: 10px;
}
.nav-link{
   text-decoration: none;
   padding-right: 10px;
   padding-left: 10px;
   color:deepskyblue;
   border-left: 0.5px solid #ccc; 
}
.logo-img{
  height: 80px;
  width: 230px;
 margin-left: 20px;
  display: flex;
 margin-top: 5px;
 object-fit: contain;
}
 
