<div class="nav-bar"> 
    <div class="title">
       <div class="logo">
        <span><img class="logo-img" src="./../../assets/img/TC Logo.jpg"/></span>  
       </div>
      
      
    </div>
    <div class="nav-links">
       <a class="nav-link" [routerLink]="['/produt-page']">PRODUCTS</a>
       <a class="nav-link" [routerLink]="['/projects']">PROJECTS</a>
       <a class="nav-link" [routerLink]="['/contact-us']">CONTACT US</a>
       <a class="nav-link" [routerLink]="['/request-quote']">REQUEST-QUOTE</a>
     
    </div>
    </div>
    