/* You can add global styles to this file, and also import other style files */
/* Global Styles */

* {
    /*font-family: 'Roboto', Arial, sans-serif;*/
    
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  *:focus{
    outline:none !important;
    border: 0 !important;
}
  .container {
    display: flex;
    flex-direction: row;
  }
  
  router-outlet + *  {
    padding: 0 16px;
  }
  html, body { height: 100%; }
  body { margin: 0; font-family: 'Questrial', sans-serif;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
