<app-slider></app-slider>
<div class="content-container">
<div class="divider-section" >
<div class="divider" >
</div>
</div>
<div class="product-titles">

<div class="storage-types">
    <h3 class="storage-type-title">Office Storage</h3>
    <p class="storage-desc" >We offer a wide variety of different types of filing equipment, 
        office furniture, and file storage systems
         that can reduce your footprint by half.</p>
</div>
<div class="storage-types">
    <h3 class="storage-type-title">Organisers</h3>
    <p class="storage-desc" >When it comes to reorganising kitchen cupboards 
        or banishing bathroom clutter, 
        small storage and organisers make it easy to get your house in order.</p>
</div>
<div class="storage-types hvr-grow">
    <h3 class="storage-type-title hvr-grow  ">Home Storage</h3>
    <p class="storage-desc" >Home storage is about sturdy, classic pieces that add to your home’s decor while stylishly keeping things organized.</p>
</div>
</div>
<div class="best-Prod-title">
    <h3 >Featured Products</h3>
</div>  

<div class="Prod-section">
  
 <div class="feat-prod-img">
 <img class="feat-img" src="./../../assets/img/332099-large-tower---cream.jpg"/> <span class="prod-desc">Tower Drawers</span>
</div>
 <div class="feat-prod-img">
 <img class="feat-img" src="./../../assets/img/353153-printed-storage-basket-main.jpg"/><span class="prod-desc">Printed Basket</span>
</div>
<div class="feat-prod-img">
 <img class="feat-img" src="./../../assets/img/349830-knit-effect-storage-basket-medium-main.jpg"/><span class="prod-desc">Knit Basket</span>
</div>
<div class="feat-prod-img">
 <img class="feat-img" src="./../../assets/img/293744-4-pack-20l-storage-box-with-lids.jpg"/><span class="prod-desc">storage Box</span>
</div>
<div class="feat-prod-img">
    <img class="feat-img" src="./../../assets/img/316368-storage-basket-chrome-3.jpg"/><span class="prod-desc">Chrome Basket</span>
   </div>
   <div class="feat-prod-img">
    <img class="feat-img" src="./../../assets/img/30677627.jpg"/><span class="prod-desc">Tissue Roll Holder</span>
   </div>   
</div>
        </div>
       <!--- <div class="new-prod">
            <h3>New Products</h3>
            <div class="new-prod-img">
    
            </div>
            </div>--->
      
 

<div class="featured-brands" >
    <div class="featured-brand-title"  >
    <h3>Featured brands</h3>
    </div>
    </div>
